.message {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.imageAndText {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.imageAndText img {
    display: flex;

}

.text {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    margin: 10px;
    padding: 12px;
    position: relative;
    min-height: 50px;
    background-color: #0066CC;
    border-radius: 10px;
    color: #FFFFFF;
}

.text:after {
    content:'';
    position: absolute;
    top: 50%;
    right: -7px;
    transform: translateX(-100%);
    border-bottom: 15px solid transparent;
    rotate: -90deg;
    border-left: 15px solid #0066CC;
}

.name {
    display: flex;
    align-self: flex-end;

    font-weight: 600;
    font-size: 18px;
    line-height: 100%;


}

.messageText {
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.time {
    display: flex;
    align-self: flex-end;
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    padding-right: 10px;
}